*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-width: 1600;
    max-height: 2908;
}

/*shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: ;
}

ul li{
list-style-type: none;
}


.btn{
    background-color: #30B868;
    border: none;
    padding: 13px 16px;
    border-radius: 5px;
    font-size: 16;
    font-weight: Semi bold;
    color: white;

}

/*main style*/
header{
    background-color: #FFFFFF;
    padding-top: 0PX;
}

nav{
    width: 100%;
    max-width: 1600;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 32px ;
    align-items: center;
}

.menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.link-parent {
    display: flex;
    gap: 22px;
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    gap: 51px;
    max-width: 1600;
    max-height: 92;
}
.banner{
    height: 674;
    width: 1600;
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex
}

.hero-overlay{
    background-color: #30B868 #FFFFFF (116, 120, 180, 120);
    width: 100;
    height: 100;
    display: flex;
    justify-content: center;
    padding: 1360 379;
}

.hero-content {
    max-width: 800px;
    text-align: center;
}

.brain{
    display: flex;
    gap: 60px;
    margin: 120px ;
    height: 600px;
    width: 1300px;
}

.brain-right{
    margin-top: 100px;
    height: 396px;
    width: 700px;
    max-height: 102px;
}

/*#banar .banar-content p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}*/


